<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.chiroro.mapper.FileBoxMapper">
	<insert id="insert">
		INSERT INTO filebox(cno, tag, title, content, reg_date)
		VALUES(#{cno}, #{tag}, #{title}, #{content}, now())
	</insert>
	
	<select id="selectOne" resultMap="fileboxViewMap">
		SELECT b.bno, cno, content, b.reg_date regdate, tag, title, f.fno, f.fname, f.reg_date, SUBSTRING(f.fname, LOCATE('_', f.fname)+1) orginname
		FROM filebox b
		LEFT JOIN file f ON b.bno = f.file_box_bno
		WHERE bno = ${bno}
	</select>
	
	<resultMap type="com.chiroro.domain.FileBoxViewVO" id="fileboxViewMap">
		<id column="bno" property="filebox.bno"/>
		<association property="filebox" javaType="com.chiroro.domain.FileBoxVO" autoMapping="true">
		</association>
		
		<collection property="files" resultMap="filesMap">
		</collection>
	</resultMap>
	
	<resultMap type="com.chiroro.domain.FileVO" id="filesMap">
		<id column="fno" property="fno"/>
		<result column="fname" property="fname"/>
		<result column="orginname" property="orginName"/>
		<result column="reg_date" property="regDate"/>
		<result column="file_box_bno" property="bno"/>
	</resultMap>
	
	<select id="selectList" resultMap="fileboxListMap">
		SELECT b.bno, b.title, b.reg_date regdate, 
			CAST((COUNT(fno) / (SELECT COUNT(username) FROM student WHERE cno = #{no}) *100) AS signed integer) rate
		FROM filebox b
		LEFT JOIN file f ON b.bno = f.file_box_bno
		WHERE cno = #{no}
		AND tag = #{tag}
		<include refid="where"/>
		GROUP BY b.bno
		ORDER BY b.bno DESC
		LIMIT #{limit}, #{amount}
	
	</select>
	
	<sql id="where">
		<if test="categorys != null and categorys.length != 0">
			<foreach collection="categorys" open="AND (" separator="OR" close=")" item="item">
				<if test='item == "T"'>
					title LIKE concat("%", #{keyword}, "%")
				</if>
				
				<if test='item == "D"'>
					<![CDATA[ b.reg_date > STR_TO_DATE(#{keyword}, '%Y-%m-%d')]]>
				</if>
				
				<if test='item == "W"'>
					b.reg_date = STR_TO_DATE(#{keyword}, '%w')
				</if>
				
			</foreach>
		</if>
	</sql>
	
	<resultMap type="com.chiroro.domain.FileBoxListVO" id="fileboxListMap">
		<id column="bno" property="filebox.bno"/>
		
		<result column="rate" property="responseRate"/>
		
		<association property="filebox" javaType="com.chiroro.domain.FileBoxVO" autoMapping="true">
		</association>
	</resultMap>

	<select id="selectTotal" resultType="long">
		SELECT count(bno)
		FROM filebox b
		WHERE cno = #{no}
		AND tag = #{tag}
		<include refid="where"/>
	</select>
	
	<update id="update">
		UPDATE filebox
		SET title = #{title},
			content = #{content}
		WHERE bno = #{bno}
		AND tag = #{tag}
	</update>

	<delete id="delete">
		DELETE FROM filebox
		WHERE bno = #{bno}
	</delete>
	
	<select id="isTag" resultType="String">
		SELECT tag
		FROM filebox
		WHERE bno = #{bno}
	</select>
	
</mapper>