<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.chiroro.mapper.QuestionMapper">
	
	<insert id="insert">
		INSERT INTO question(cno, content, category)
		VALUES(#{cno},#{content},#{category});
	</insert>
	
	<select id="selectOne" resultType="com.chiroro.domain.QuestionVO">
		SELECT * FROM question 
		WHERE qno = #{qno}
	</select>
	
	<select id="selectList" resultMap="QeustionListMap">
		SELECT  q.qno, cno cno, category category,  content content,  q.regdate regdate,
			 CAST((COUNT(ano) / (SELECT COUNT(username) FROM student WHERE cno = #{no}) *100) AS signed integer) rate,
			 CAST(AVG(indicator) AS signed integer) avg
		FROM question q
		LEFT JOIN answer a ON q.qno = a.qno
		WHERE q.cno = #{no}
		GROUP BY q.qno
		ORDER BY q.qno DESC
		LIMIT #{limit}, #{amount}
	</select>
	
	<resultMap type="com.chiroro.domain.QuestionListVO" id="QeustionListMap">
		<id column="qno" property="question.qno"/>
		<result column="rate" property="responseRate"/>
		<result column="avg" property="avgAnswer"/>
		<association property="question" javaType="com.chiroro.domain.QuestionVO">
			<id column="qno" property="qno"/>
			<result column="cno" property="cno"/>
			<result column="content" property="content"/>
			<result column="regdate" property="regDate"/>
			<result column="category" property="category"/>
		</association>
		
	</resultMap>
	
	<select id="selectTotal" resultType="long">
		SELECT count(q.qno)
		FROM question q
		WHERE q.cno = #{no}
		ORDER BY q.qno DESC
	</select>
	
</mapper>