<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.chiroro.mapper.QuestionMapper">
	
	<insert id="insert">
		INSERT INTO question(cno, content, category)
		VALUES(#{cno},#{content},#{category});
	</insert>
	
	<select id="selectOne" resultType="com.chiroro.domain.QuestionVO">
		SELECT * FROM question 
		WHERE qno = #{qno}
	</select>
	
	<select id="selectList" resultMap="QeustionListVO">
		SELECT q.qno, cno, category, content, q.regdate, COUNT(ano) rate, CAST(AVG(indicator) AS signed integer) avg
		FROM question q
		LEFT OUTER
		JOIN answer a ON q.qno = a.qno
		GROUP BY q.qno
		ORDER BY qno DESC
		LIMIT #{limit}, #{amount}
	</select>
	
	<resultMap type="com.chiroro.domain.QuestionListVO" id="QeustionListVO">
		<result column="rate" property="responseRate"/>
		<result column="avg" property="avgAnswer"/>
		<association property="question" javaType="com.chiroro.domain.QuestionVO">
			<id column="qno" property="qno"/>
			<result column="cno" property="cno"/>
			<result column="content" property="content"/>
			<result column="regdate" property="regDate"/>
			<result column="category" property="category"/>
		</association>
	</resultMap>
	
</mapper>