<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.chiroro.mapper.QuestionMapper">
	
	<insert id="insert">
		INSERT INTO question(cno, content, category)
		VALUES(#{cno},#{content},#{category});
	</insert>
	
	<select id="selectOne" resultType="com.chiroro.domain.QuestionVO">
		SELECT * FROM question 
		WHERE qno = #{qno}
	</select>
	
	<select id="selectList" resultMap="QeustionListMap">
		SELECT  q.qno, cno cno, category category,  content content,  q.regdate regdate,
			 CAST((COUNT(ano) / (SELECT COUNT(user_username) FROM user_lectures WHERE lectures_cno = #{no}) *100) AS signed integer) rate,
			 CAST(AVG(indicator) AS signed integer) avg
		FROM question q
		LEFT JOIN answer a ON q.qno = a.qno
		WHERE q.cno = #{no}
		GROUP BY q.qno
		ORDER BY q.qno DESC
		LIMIT #{limit}, #{amount}
	</select>
	
	<!--  
	<select id="selectWhere" resultType="com.chiroro.domain.AnswerDataVO">
		SELECT l.cname, q.qno, q.category tag, q.content, q.regdate, count(c.comment) comment,
			(COUNT(a.ano) / (SELECT COUNT(user_username) FROM user_lectures WHERE lectures_cno = #{no}) *100) resRate,
			AVG(indicator) resAvg
		FROM question q
		LEFT JOIN answer a ON q.qno = a.qno
		LEFT JOIN lecture l ON q.cno = l.cno
		LEFT JOIN ans_comment c ON a.ano = c.ano
		WHERE q.cno = #{no}
		AND q.category = #{tag}
		GROUP BY q.qno
		ORDER BY q.qno DESC
	</select>
	-->
	
	<select id="selectData" resultType="com.chiroro.domain.AnswerDataVO">
		SELECT AVG(a.indicator) resAvg, COUNT(c.`comment`) countOfComment, MIN(q.qno) qno, MIN(q.regdate) minDate
		FROM lecture l
		JOIN lectures_teacher t ON l.cno = t.cno
		LEFT JOIN question q ON l.cno = q.cno
		LEFT JOIN answer a ON q.qno = a.qno
		LEFT JOIN ans_comment c ON a.ano = c.ano
		WHERE t.username = #{userName}
		AND q.category = #{tag}
		AND q.regdate BETWEEN #{startDate} AND #{endDate}
		
		<choose>
			<when test="category == 'sno'">
				AND l.sno = #{keyword}
			</when>
			<when test="category == 'cno'">
				AND q.cno = #{keyword}
			</when>
			<when test="category == 'user'">
				AND a.username = #{keyword}
			</when>
		</choose>
		GROUP BY
		<choose>
			<when test="groupBy == 'dayOfYear'">
				q.day_of_year
			</when>
			<when test="groupBy == 'dayOfWeek'">
				q.day_of_week
			</when>
			<when test="groupBy == 'weekOfYear'">
				q.week_of_year
			</when>
			<when test="groupBy == 'qno'">
				q.qno
			</when>
		</choose>
		ORDER BY minDate
		LIMIT 0, 100
	</select>
	
	<resultMap type="com.chiroro.domain.QuestionListVO" id="QeustionListMap">
		<id column="qno" property="question.qno"/>
		<result column="rate" property="responseRate"/>
		<result column="avg" property="avgAnswer"/>
		<association property="question" javaType="com.chiroro.domain.QuestionVO">
			<id column="qno" property="qno"/>
			<result column="cno" property="cno"/>
			<result column="content" property="content"/>
			<result column="regdate" property="regDate"/>
			<result column="category" property="category"/>
		</association>
		
	</resultMap>
	
	<select id="selectTotal" resultType="long">
		SELECT count(q.qno)
		FROM question q
		WHERE q.cno = #{no}
		ORDER BY q.qno DESC
	</select>
	
</mapper>