<div id="pop" class="position-fixed" style="background-color: rgba(0, 0, 0, 0.5); top:0; left:0; display: none; width: 100vw; height: 100vh;">
    <div class="card position-absolute" style="transform:translate(-50%, -50%); top:50%; left:50%; width: 75vw;">
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
           
            <h6 id="postTitle" class="m-0 font-weight-bold text-primary post">제목</h6>
        
        </div>

        <!-- BODY -->
        <div class="card-body m-0" style="overflow: hidden;">
	        <div style="height: 100%">
		        <div style="height: 30%">
		            <div class="row" style="height: 80%">
		            
		                <div id="postContent" class="col-sm-12 col-md-7 post" style="height: 100%; overflow: auto;">
		                
		                </div>
		                
		                <div id="files" class="col-sm-12 col-md-5" style="height: 100%; overflow: auto;">
                        
		                </div>
					</div>
					<hr>
					<div>
						<label><input id="fileInput" type="file"><i id="fileInputLable" class="fas fa-times-circle"></i></label>
					</div>
		            <hr>
                </div>
                
	            <div class="h-auto">
                    <a id="taskSubmit" href="/board/list" class="btn btn-primary btn-icon-split"> <span
						class="icon text-white-50"> <i class="fas fa-times-circle"></i>
                    </span> <span class="text">Submit</span>
                    </a>
					<a id="postPopDown" href="/board/list" class="btn btn-danger btn-icon-split"> <span
						class="icon text-white-50"> <i class="fas fa-times-circle"></i>
					</span> <span class="text">Close</span>
					</a>
                </div>
                
			</div>
        </div>
    </div>
</div>