<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Teacher Notice Me</title>
</head>
<body>
    
    <th:block th:include="fragments/popup"></th:block>

    <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
    <script th:src=@{~/js/socket.io.js}></script>
    
    <script>
        $(document).ready(function (){
            var socket = io("localhost:3000");

            socket.emit("setClass", 1);

            socket.on("question", function (data){
                console.log(data);
            });
        });
    </script>
</body>
</html>